{% extends 'base.html.twig' %}
{% block javascript %}

  <script src="https://js.stripe.com/v3/"></script>
   <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>


{% endblock %}

{% block title %}paiement de  ma commande{% endblock %}

{% block content %}

<h2>Mon récapitulatif de commande </h2>
<p>Vérifier vos information avant de payer. </p>
<hr>
<div class="row">
<div class="col-md-6">

<b>Mon adresse de livraison </b><br/>
<div class="form-check mt-4">

{{delivery|raw}}
</div>


<hr>
<strong>Mon transporteur</strong><br/>
<div class="form-check">
{{carrier.name}}<br/>
{{carrier.description}}
{{carrier.price|number_format(2,',','.')}}€
</div>
</div>
<div class="col-md-6">
<div class="text-center">
<b>Ma commande</b><b/>


</div>

<div class= "order-summary">
  {% set total = null %} 

 {% for key, product in cart %} 
<div class="row {% if key > 0 %}mt-2 {% endif %}">
<div class="col-2">   
 <img src="/uploads/{{product.product.illustration}}"  alt=" {{product.product.name}}" height="75px">
 </div>

<div class="col-8 my-auto">  

{{product.product.name}}<br/>
<small>{{product.product.subtitle}}</small>
<br/>
X {{product.quantity}}

</div>

<div class="col-2 my-auto"> 
        <td>{{((product.product.prix * product.quantity)/100 )|number_format(2,',','.')}}€,

</div>
</div>
  {% set total = total +(product.product.prix * product.quantity) %}
     {% endfor %}

</div>



 <strong> sous-total : </strong>{{(total/100)|number_format(2,',','.')}}€ <br/>
 <strong> Livraison : </strong>{{(carrier.price)|number_format(2,',','.')}}€  <br/>
 <hr>
 <strong> total : </strong>{{((total/100)+(carrier.price))|number_format(2,',','.')}}€ <br/>

<a href="" class="btn btn-success btn-block mt-3" id="checkout-button"><b>Payer {{((total/100)+(carrier.price))|number_format(2,',','.')}}€ </b> </a> 
{ #ID rajouter va permettre à stripe d'ecouter quand les users va liquer sur payer # }
</div>
</div>

{% endblock %}
{% block script %}


  <script type ="text/javascript">
  var stripe = Stripe("pk_test_51L2XrgFn8EmCT5qnLwYdRSxllDLXme6rL89goCxETce7vUMM44kSj7tETJOzDObGILfCEDJh4o3nWnw9RhPWlYh700Lc7RyU9s");
  var checkoutButton =document.getElementById("checkout-button");

  checkoutButton.addEventListener("click", function() {
    fetch("/commande/create-session" , {
      method:"POST",
    })
    .then(function (response) {
      return response.json();
    })

     .then(function (session) {
      return stripe.redirectToCheckout({sessionId: session.id});
    })

     .then(function (result) {
       if (result.error){

          alert(result.error.message);
       }
    })

   .catch(function (error) {
      console.error("Error:",error);
     });


  });
  
  </script>

{% endblock %}